<style>body {
        font-family: sans-serif
    }</style>
<div>
    <div style="max-width: 750px; margin: 0 auto; padding: 30px 0;">
        <h1 style="text-align: center;">Order  #{{.OrderId}} - {{.Status}}</h1>
        <div style="display: flex; justify-content: center; flex-direction: column">
            <div style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                <h2 style="font-size: 24px;">Order #{{.OrderId}}</h2>
                <h4 style="color: #b4b4b4">Transaction ID: {{.TransactionId}}</h4>
            </div>
        </div>
        <hr style="width: 100%; margin-top: 30px;">
        <div>
            <h3 style="color: #9f9f9f">Payment info</h3>
            <div style="display: flex; justify-content: space-between;">
                <p>{{.CardBrand}} ({{.CardMask}})</p>
                <p>{{.Price}} $</p>
            </div>
        </div>
        <hr style="width: 100%; margin-top: 30px;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="http://silverrain-jewelry.com/" target="_blank"
               style="color: #9f9f9f; font-size: 18px; text-decoration: none; text-align: center;">Silver Rain</a>
        </div>
    </div>
</div>